{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Base{% endblock %}</title>
        {% bootstrap_css %}
        <style>
            .jumbotron {
                padding: 20px;
                margin-bottom: 20px;
                background-color: #e9ecef;
            }
            .base-content {
                margin: 10px;
            }
        </style>
    </head>
    <body>
        {% bootstrap_messages %}
        {% include 'includes/navbar.html' %}
        <div class="base-content">{% block content %}{% endblock %}</div>
        {% bootstrap_javascript %}
    </body>
</html>